<?xml version="1.0" encoding="UTF-8"?>
<GREENHOUSE-CONTROLLER>

<HARDWARE>
  <SPICLOCK>
    <PIN>13</PIN>
  </SPICLOCK>
  <SPIDATA>
    <PIN>11</PIN>
  </SPIDATA>
</HARDWARE>

<PROPAGATOR-SENSORS>
  <CHANNEL>
    <NAME>Propagator 1</NAME>
    <CSPIN>12</CSPIN>
    <RELAY>35</RELAY>
    <CALIBRATE>20</CALIBRATE>
    <MEASURED>24</MEASURED>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
  <CHANNEL>
    <NAME>Propagator 2</NAME>
    <CSPIN>12</CSPIN>
    <RELAY>38</RELAY>
    <CALIBRATE>20</CALIBRATE>
    <MEASURED>20</MEASURED>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
</PROPAGATOR-SENSORS>

<TEMPERATURES>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <TEMPERATURE>18</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>01:00</TIME>
    <TEMPERATURE>20</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>07:00</TIME>
    <TEMPERATURE>22</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>08:00</TIME>
    <TEMPERATURE>20</TEMPERATURE>
  </SCHEDULE>
</TEMPERATURES>

<AIR-SENSORS>
  <CHANNEL>
  <NAME>Air Heater</NAME>
  <RELAY>35</RELAY>
  <CALIBRATE>20</CALIBRATE>
  <MEASURED>20</MEASURED>
  <ENABLED>Enabled</ENABLED>
  </CHANNEL>
</AIR-SENSORS>

<AIR-TEMPERATURES>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <TEMPERATURE>4</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>01:00</TIME>
    <TEMPERATURE>5</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>07:00</TIME>
    <TEMPERATURE>6</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>08:00</TIME>
    <TEMPERATURE>5</TEMPERATURE>
  </SCHEDULE>
</AIR-TEMPERATURES>

<LIGHTING-SENSORS>
  <CHANNEL>
    <NAME>Sunlight</NAME>
    <RELAY>40</RELAY>
    <ON-LUX>40</ON-LUX>
    <HYSTERESIS>5</HYSTERESIS>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
</LIGHTING-SENSORS>

<LIGHTING>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <STATUS>Off</STATUS>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>04:00</TIME>
    <STATUS>On</STATUS>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>09:00</TIME>
    <STATUS>Off</STATUS>
  </SCHEDULE>
</LIGHTING>

<DISPLAY>
  <TITLE>Greenhouse Controller</TITLE>
  <UNITS>C</UNITS>
</DISPLAY>

<LOGGING>
  <INTERVAL>10</INTERVAL>
  <ENABLED>Enabled</ENABLED>
</LOGGING>

</GREENHOUSE-CONTROLLER>