<?xml version="1.0" encoding="UTF-8"?>
<GREENHOUSE-CONTROLLER>

<HARDWARE>
  <SPICLOCK>
    <PIN>23</PIN>
  </SPICLOCK>
  <SPIDATA>
    <PIN>21</PIN>
  </SPIDATA>
</HARDWARE>

<PROPAGATOR-SENSORS>
  <CHANNEL>
    <NAME>Vitopod 1</NAME>
    <CSPIN>24</CSPIN>
    <RELAY>40</RELAY>
    <CALIBRATE>19</CALIBRATE>
    <MEASURED>18.75</MEASURED>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
  <CHANNEL>
    <NAME>Vitopod 2</NAME>
    <CSPIN>26</CSPIN>
    <RELAY>38</RELAY>
    <CALIBRATE>19</CALIBRATE>
    <MEASURED>19.75</MEASURED>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
  <CHANNEL>
    <NAME>Vitopod 3</NAME>
    <CSPIN>18</CSPIN>
    <RELAY>35</RELAY>
    <CALIBRATE>19</CALIBRATE>
    <MEASURED>19</MEASURED>
    <ENABLED>Enabled</ENABLED>
  </CHANNEL>
  <CHANNEL>
    <NAME>Propagator 4</NAME>
    <CSPIN>22</CSPIN>
    <RELAY>36</RELAY>
    <CALIBRATE>19</CALIBRATE>
    <MEASURED>20</MEASURED>
    <ENABLED>Disabled</ENABLED>
  </CHANNEL>
</PROPAGATOR-SENSORS>

<TEMPERATURES>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <TEMPERATURE>18</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>01:00</TIME>
    <TEMPERATURE>20</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>07:00</TIME>
    <TEMPERATURE>22</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>08:00</TIME>
    <TEMPERATURE>20</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>23:00</TIME>
    <TEMPERATURE>18</TEMPERATURE>
  </SCHEDULE>
</TEMPERATURES>

<AIR-SENSORS>
  <CHANNEL>
  <NAME>Air Heater</NAME>
  <RELAY>33</RELAY>
  <CALIBRATE>19</CALIBRATE>
  <MEASURED>18.2</MEASURED>
  <ENABLED>Enabled</ENABLED>
  </CHANNEL>
</AIR-SENSORS>

<AIR-TEMPERATURES>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <TEMPERATURE>4</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>01:00</TIME>
    <TEMPERATURE>7</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>07:00</TIME>
    <TEMPERATURE>10</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>08:00</TIME>
    <TEMPERATURE>8</TEMPERATURE>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>22:00</TIME>
    <TEMPERATURE>4</TEMPERATURE>
  </SCHEDULE>
</AIR-TEMPERATURES>

<HUMIDITY-SENSOR>
  <SENSOR>
  <TEMP-CALIBRATE>19</TEMP-CALIBRATE>
  <TEMP-MEASURED>18.1</TEMP-MEASURED>
  <HUMIDITY-CALIBRATE>49</HUMIDITY-CALIBRATE>
  <HUMIDITY-MEASURED>58.7</HUMIDITY-MEASURED>
  <ENABLED>Enabled</ENABLED>
  </SENSOR>
</HUMIDITY-SENSOR>

<LIGHTING-SENSORS>
  <CHANNEL>
    <NAME>Growlights</NAME>
    <RELAY>37</RELAY>
    <ON-LUX>500</ON-LUX>
    <HYSTERESIS>50</HYSTERESIS>
    <ENABLED>Enabled</ENABLED>
    <TEMPERATURE-OFFSET>Enabled</TEMPERATURE-OFFSET>
  </CHANNEL>
</LIGHTING-SENSORS>

<LIGHTING>
  <SCHEDULE>
    <TIME>00:00</TIME>
    <STATUS>Off</STATUS>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>04:00</TIME>
    <STATUS>On</STATUS>
  </SCHEDULE>
  <SCHEDULE>
    <TIME>08:00</TIME>
    <STATUS>Off</STATUS>
  </SCHEDULE>
</LIGHTING>

<DISPLAY>
  <TITLE>Greenhouse Controller</TITLE>
  <UNITS>C</UNITS>
</DISPLAY>

<LOGGING>
  <INTERVAL>10</INTERVAL>
  <ENABLED>Enabled</ENABLED>
  <CSV>Disabled</CSV>
  <DATABASE>Enabled</DATABASE>						  
</LOGGING>

<TEST>
  <CHANNEL>
    <NAME>Relay 7</NAME>
    <RELAY>31</RELAY>
  </CHANNEL>
  <CHANNEL>
    <NAME>Relay 6</NAME>
    <RELAY>32</RELAY>
  </CHANNEL>
</TEST>

</GREENHOUSE-CONTROLLER>